html,
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background: #7159c1;
}
.container {
 display: grid;
 grid-template-columns: 3fr 7fr;
 grid-template-rows: 15vh 70vh 10vh;
}
header {
 background: black;
 height: 100px;
 grid-column-start: 1;
 grid-column-end: 3;
}
main {
 background: yellow;
 grid-column-start: 1;
}
aside {
 background: red;
 grid-column-start: 2;
}
footer {
 background: blue;
 height: 100px;
 grid-column-start: 1;
 grid-column-end: 3;
}
